$color-fuente-Juanito: whitesmoke;
$color-body: cornflowerblue;
$color-boton-base: rgb(28, 56, 109);
$color-boton-hover: rgb(161, 205, 255);
$color-fuente-boton-hover: rgb(28, 56, 109);
$color-nav-hover: gold;
$sombra-nav-hover: rgb(161, 205, 255) 1px 0 10px;
