/* COSAS GENERALES DEL SITIO */

@import "./componentes/variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-body;
    min-width: 390px;
}

main section {
    align-items: center;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        color: $color-fuente-Juanito;
    }

}

#Btn {
    background-color: $color-boton-base;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;

    &:hover {
        transition: 0.5s;
        transition-timing-function: ease;
        font-size: 110%;
        background-color: $color-boton-hover;
        color: $color-fuente-boton-hover;
    }
}

#BtnStores {
    @extend #Btn;

    &:hover {
        font-size: 100%;
    }
}

nav {
    ul {
        li {
            a {
                &:hover {
                    color: $color-nav-hover;
                    text-shadow: $sombra-nav-hover;
                }
            }
        }
    }
}

#TituloGral {
    text-align: center;
    font-family: 'Ultra', serif;
    font-weight: lighter;
    font-size: 30px;
    color: $color-fuente-Juanito;
    margin: 20px;
    text-shadow: $sombra-titulos;
}

#LinksBanner {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
}

* textarea {
    margin-top: 8px;
    margin-bottom: 8px;
    resize: none;
    border-radius: 5px;
}

#MainFormCompra {
    padding: 2%;
    min-height: 290vh;
    display: grid;
    grid-template-areas:
        "DatosUsuarioC DatosUsuarioC AsideC AsideC"
        "MedioPagoC MedioPagoC MedioPagoC MedioPagoC"
        "MuestrasC MuestrasC MuestrasC MuestrasC";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    background-color: $color-body;
}

.DatosUsuarioC {
    padding: 5%;
    grid-area: DatosUsuarioC;
    background-color: $color-body;
}

.AsideC {
    padding: 5%;
    grid-area: AsideC;
    background-color: rgb(161, 205, 255);
    border-radius: 20px;
}

.MedioPagoC {
    padding: 5%;
    grid-area: MedioPagoC;
    background-color: $color-body;
}

.MuestrasC {
    padding: 5%;
    grid-area: MuestrasC;
    box-shadow: $sombra-muestras-c;
    border-radius: 20px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: cornflowerblue;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    width: 90%; /* Ancho del popup: 90% del ancho de pantalla */
    max-width: 900px; /* Límite máximo del ancho del popup */
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr; /* Dividir en dos columnas */
    grid-gap: 20px; /* Espacio entre columnas */
    margin: 0 auto; /* Centra horizontalmente el popup */
}

.popup-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.popup-content label,
.popup-content input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.popup-content label {
    text-align: left;
}

.popup-content button {
    margin-top: 10px;
}

#botonCompra {
    margin-top: 20px;
}

.popup {
    font-family: "Ultra", serif;
    font-size: 40px;
    color: whitesmoke;
    font-weight: lighter;
  }


/* HEADERS */

@import "./componentes/headers";

/* NavSup */

@import "./componentes/navSup";

/* BANNERS */

@import "./componentes/banners";

/* SECCIONES SUpERIORES */

@import "./componentes/seccionSup";

/* SECCIONES INFERIORES */

@import "./componentes/seccionInf";

/* FOOTERS */

@import "./componentes/footers";

/* MEDIA QUERIES */

@media (max-width: 426px) {
    #MainFormCompra {
        min-height: 290vh;
        display: grid;
        grid-template-areas:
            "AsideC"
            "DatosUsuarioC"
            "MedioPagoC"
            "MuestrasC";
        /*grid-template-columns: 100vw;*/
        grid-template-columns: 1fr;
        /*25% 25% 25% 25%;*/
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        background-color: rgb(161, 205, 255);
    }

    @media (min-width: 730px) {
        #TituloGral {
            font-size: 35px;
        }

        .TituloPrincipal {
            font-size: 35px;
        }

        #LeyendaBannerHome {
            width: 720px;
            height: 150px;
        }

        #LeyendaBannerNosotros {
            width: 720px;
            height: 150px;
        }

        #LeyendaBannerTestimonios {
            width: 720px;
            height: 150px;
        }

        #LeyendaBannerTienda {
            width: 720px;
            height: 150px;
        }

        #BannerMuestras {
            display: none;
        }

    }

    @media (max-width: 729px) {

        #SeccionMuestras {
            display: none;
        }

    }

    @media (min-width: 900px) {
        .SeccionSupContacto textarea {
            width: 800px;
        }
    }

    @media (min-width: 1096px) {
        #TituloGral {
            font-size: 35px;
        }

        .TituloPrincipal {
            font-size: 42px;
        }

        #LeyendaBannerHome {
            width: 720px;
            height: 150px;
        }
    }

    @keyframes BannerMuestras {

        0%,
        1.4% {
            opacity: 0.1;
        }

        1.5%,
        30% {
            background-image: url(../Images/EJE1.jpg);
            opacity: 1;
        }

        31%,
        34% {
            opacity: 0.1;
        }

        35%,
        65% {
            background-image: url(../Images/EJE2.jpg);
            opacity: 1;
        }

        66%,
        69% {
            opacity: 0.1;
        }

        70%,
        98.5% {
            background-image: url(../Images/EJE3.jpg);
            opacity: 1;
        }

        98.6%,
        100% {
            opacity: 0.1;
        }
    }
}